<h1>Pages#landing</h1>
<p>Find me in app/views/pages/landing.html.erb</p>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p>Esto no lo supe hacer: En el método landing consultar todos los registros de Student y almacenarlos en
una variable de instancia @students (DONDE SE HACE ESO?) <br>
En la vista de landing iterar la colección @students y listar -en una tabla- todos los
estudiantes con su respectivo email.(SIN LO ANTERIOR, NO PUEDO HACER ESTO)</p>

  </body>
</html>
